<?xml version="1.0"?>
<model>
  <name>damaged_building_small</name>

  <version>1.0</version>

  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Capstone Project</name>
    <email>capstone@example.com</email>
  </author>

  <description>
    Small damaged building for earthquake simulation.
  </description>
</model>